@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

/* The rest of your CSS here */
.bodyclass{margin:0;padding:0;background:#fff;font-family:"Roboto";}
.bodyclass *{box-sizing:border-box;}
.maindiv{color: #353535; float:left; font-size: 13px;width:100%;text-align:center;padding:40px 0 0;}
.main-wrapper{width:600px;display:inline-block;}
.logo{margin:0 0 10px;width:130px;float:left;}
.clear{clear:both}
.box{border:1px solid #ddd;margin:0 0 10px;}
.box-wrapper{background:#fff;padding:20px 0;border-top:10px solid #333;text-align:left;}
.rowcls{color: #333;font-size: 13px;margin: 0 0 20px;padding:0 20px;display:inline-block;width:100%}
.btmrow{color: #333;font-size: 13px;padding:0 20px;display:inline-block;width:100%}
.bottom{width:600px;display:inline-block;font-size:11px;}
.copyright{color: #777;text-align: left;}
.support{text-align: left;width: 100%;margin:5px  0 0;color:#777;}

.trip-holder{padding:20px 0;display:inline-block;width:100%}
ul{list-style:none;}
ul.triplist{margin: 0;float: left;width: 100%;padding:0 20px;}
ul.triplist > li{float: left;width: 100%;padding: 20px 0 0;border-bottom: 1px solid #ddd;}
ul.triplist > li:first-child{padding-top: 0;}
ul.triplist > li:last-child{border:none;}
.tripitem{float: left;width: 100%;position: relative;padding-left: 30px;}
.tripitem h6{margin: 0;font-weight:normal;color: #464646;padding-right: 60px;font-size: 14px;font-weight:500;}
.tripicon{position: absolute;left: 0;top: 0;font-size: 17px;}
.tripicon img{display:inline-block;}
.starttrip{float: left;width: 100%;color: #999;font-size: 13px;line-height: 30px;margin: 0 0 20px;}
.starttrip span{color: #333;line-height: 30px;margin-right: 10px;font-size: 13px;}
.drow{clear: both;float: left;width: 100%;margin: 0 0 20px;}
.drow label {color: #313131;font-weight:500;font-size: 14px;margin: 0 0 10px;display:inline-block;}
.drow p {font-size: 13px;color: #999;margin: 0 0 10px;}
.notetext{color: #dbbb24;font-size:14px;}

ul.tripstops-list{padding: 10px 0 0;margin: 0;float: left;width: 100%;}
ul.tripstops-list > li{float: left;width: 100%;margin: 0 0 25px;}
.tripstop{width: 100%;float: left;position: relative;}
.tripstop .title{width:100%;float: left;}
.tripstop .title .numbering{width: 18px;height: 18px;text-align: center;font-size: 11px;background: #ddd;line-height: 18px;border-radius: 50%;position: absolute;top: 0;left: 0;}
.tripstop .title h5{margin: 0;line-height: 18px;font-size: 14px;font-weight: 500;}
.tripstop .title .dest-col{width: 33.33%;float: left;position: relative;padding-left:30px;}
.tripstop .title .date-col{width: 33.33%;float: left;position: relative;font-size:13px;color:#999;}
.tripstop .title .bm-col{width: 33.33%;float: right;position: relative;font-size:13px;text-align:right;}